# Contenido basado en https://github.com/github/gitignore/blob/main/Unity.gitignore
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
.vs/
.gradle/
.utmp/
/[Mm]emoryCaptures/
/[Rr]ecordings/
*.apk
*.aab
*.unitypackage
*.app
